<article class="bg-newWhite mx-5 p-7  rounded-xl  flex flex-col gap-5 md:w-[600px]">
  <div class="flex gap-5 items-center">
    <img class="h-[25px]" src="../../../assets/images/icon-star.svg" alt="icon-star">
    <h1 class="text-4xl font-bold">FAQs</h1>
  </div>
  <ul class="flex flex-col gap-7">
    @for (item of questionsAndAnswers; track item.id) {
    <li class="flex flex-col gap-5 ">
      <div class="flex justify-between items-center">
        <h1 (click)="onClick(item.id)" class="font-bold w-3/4 leading-5 hover:text-purple-500 cursor-pointer">{{item.question}}</h1>
        <button class=" h-8 w-8" (click)="onClick(item.id)">
          @if(item.isActive){
          <img class="h-8 w-8" src="../../../assets/images/icon-minus.svg" alt="button imagen minus">
          }@else {
          <img class="h-8 w-8" src="../../../assets/images/icon-plus.svg" alt="button imagen  plus">
          }
        </button>
      </div>
      @if(item.isActive){
      <p class="text-lightPurple leading-5">{{item.answer}}</p>
      }
    </li>

    @if(item.id !== 3){
    <hr>
    }
    }
  </ul>
</article>